<!DOCTYPE html>
<html>
<head>
	<title>flights</title>
</head>
<body>
<table border=1>
	<thead>
		<th>flight id</th>
		<th>flight name</th>
		<th>from city</th>
		<th>to city</th>
		<th>avail seats</th>
        <th>t_id</th>
		<th>  </th>

	</thead>
	<tbody>
		<tr>
		{% for flight in flights %}
		<td>{{flight[0]}}</td>
		<td>{{flight[1]}}</td>
		<td>{{flight[2]}}</td>
		<td>{{flight[3]}}</td>
		<td>{{flight[4]}}</td>
        <!-- <td>{{flight[5]}}</td> -->
        
		<!-- <td><a href="http://127.0.0.1:8000/book_flight/{{flight[0]}}"><button>BOOK NOW</button></a></td> -->
        <td><a href="http://127.0.0.1:8000/api/{{tidd}}/book/flight/{{flight[0]}}"><button>BOOK NOW</button></a></td>
	</tr>
{% endfor %}

</tbody>

</table>

</body>
</html>